::-webkit-scrollbar {
  display: none;
}
body{
  text-align: left;
  font-family: 'Scada', sans-serif;
  color:white;
  background-color:rgb(26, 24, 41);
}
button{
  cursor:pointer;
  border:none;
  background-color:rgb(26, 24, 41);
  font-family: 'Scada', sans-serif;
  color:white;
  margin-left:10px;
  margin-right:10px;
  font-size:20px;
}
button:hover{
  background-image:linear-gradient(rgb(26, 24, 41), rgb(10, 9, 15));
}
#header {
  display: flex;
  height: 10%;
}
#logo {
  flex-grow: 1;
  text-align: center;
  height: 100%;
  position: relative;
}
#logo > img {
  height: 100%;
  position: fixed;
  opacity: 0.15;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
}
#nav {
  display: flex;
  height: 60%;
}
#main {
  height: 90%;
}
#map {
  width: 65%;
  float: left;
}
#info {
  width: 35%;
  height: 100%;
  float: right;
  position: relative;
  display: block;
}

#name{
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height:60%
}
#start{
  height:100%;
}

.infoblock {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
}
.symbol {
  width: 32px;
  height: 32px;
  margin: 16px 16px;
  background-size: 32px 32px;
  float: left;
}
.watch {
  background-image: url(images/watch-symbol.png);
}
.warning {
  background-image: url(images/warning-symbol.png);
}
.description, .message {
  font-family: Arial Nova, Arial, Helvetica, sans-serif;
  margin: 0;
}
.time {
  float: right;
  position: relative;
}
.middle {
  flex-grow: 1;
}
.severitybar {
  height: 3px;
  background-color: #ff0;
  position: absolute;
  bottom: 0;
}
.severityfull {
  height: 3px;
  background-color: #aa0;
  position: absolute;
  bottom: 0;
}
p{
  font-size:20px;
}
