/*Grid layout stuff*/
/*.main{
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu '
        'main main main main menu menu ';
    
}
.main > div {
    font-size: 30px;
  }
*/
/*General stuff*/
body{
    background-color:rgb(27, 27, 51);
}
button{
    cursor:pointer;
}

/*Top bar stuff*/
.header{
    height:20px;
    width:1500px;
    background-color:rgb(69, 68, 78);

}
#logo{
    height:100px;
    width:100px;
    left: 0%; 
    position: relative;
}
#About{
    left:25%;
    position:relative;
    height:100px;
    width:100px;
}
#Facebook.img{
    left: 50%; 
    position: relative;
    height:50px;
    width:50px;
}
#Guest{
    left: 75%; 
    position: relative;
    height:100px;
    width:100px;
}

.info{
    grid-area:menu;
}

#map{
    grid-area:main;
    height:60%;
    width:60%;
    
}
